body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
  }
#header-nav {
    background-color: rgb(248, 248, 18);
    border-radius: 0;
    border: 0;

}
#logo-img {
    background: url('a_copy.jpg') ;
    background-position: auto;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}
.navbar-brand h1{
    color: aqua;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .85;

}
.navbar-brand a:hover,.navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand p{
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
}
#nav-list {
    margin-top: 10px;
  }


#nav-list a {
    color: #951C49;
    text-align: center;
  }

#nav-list a:hover {
    background-color: rgb(238, 212, 193);
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle:hover, .navbar-header .icon-bar:hover {
    background-color: rgb(218, 212, 23);
}
#phone{
    text-align: center;
    margin: 0px;
}
#call-btn >a{
    font-size: 1.5em;
    width: 10em;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #call-btn {
    margin-top: 50px;
    text-align: center;
  }
  #call-btn div{
    text-align: center;
    margin-top:10px ;
  }
  
#no_padding{
     !important;
    padding-bottom: 0%;
}