body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: rgb(248, 248, 18);
  border-radius: 0;
  border: 0;

}

#logo-img {
  background: url('a_copy.jpg');
  background-position: auto;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand h1 {
  color: aqua;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .85;

}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  color: black;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: bold;
}

#nav-list {
  margin-top: 10px;
}


#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background-color: rgb(238, 212, 193);
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle:hover,
.navbar-header .icon-bar:hover {
  background-color: rgb(218, 212, 23);
}

#phone1 a {
  font-size: 1.5em;
  display: block;
  margin: 0 14%;
  padding: 10px;
  border: 2px solid #fff;
  background-color: #f6b319;
  color: #951c49;

}

#phone1 {
  text-align: center;
}

.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('./images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  /* Header */
  #logo-img {
    background: url('a_copy.jpg') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('./images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }

  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  /* Home Page */
  .container .jumbotron {
    background: url('./images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }

  /* End Home Page */

}

#menu-tile,
#specials-tile,
#map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15PX;
  position: relative;
  border: 2px solid #520707;
  overflow: hidden;
}

#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
  box-shadow: 0 1px 5px 1px#cccccc;
}

#menu-tile span,
#specials-tile span,
#map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: white;
  opacity: .8;
  background-color: #222;
}

#menu-tile {
  background: url('./images/menu-tile.jpg') no-repeat;
  background-position: center;
}

#specials-tile {
  background: url('./images/specials-tile.jpg') no-repeat;
  background-position: center;
}


/********** Extra small devices only **********/
@media (max-width: 767px) {

  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw;
    /* 1vw = 1% of viewport width */
  }

  .navbar-brand p {
    /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  .navbar-brand p img {
    /* Star-K */
    height: 20px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  #menu-tile,
  #specials-tile,
  #map-tile {


    margin: auto;
    width: 360px;

  }


}

.panel-footer {
  background-color: #222;
  margin-top: 30px;
  padding-top: 35px;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#hours span,
#address span,
{
font-size: 1.3em;
}

#address p {
  color: rgb(190, 242, 190);
  font-size: .8em;
  line-height: 1.8;
}

#testimonials p:nthn-child(2) {
  margin-top: 25px;
}

#testimonials {
  font-style: italic;
}

#phone a {
  padding-bottom: 0;
}
#phone div {
  color: #000;
  font-weight: bold;
}

.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
