#bg{
	width: 500px;
	height: 500px;
	background-color: blue;
	background-image: url(a.jpg);
	background-size: cover;
	background-repeat: no-repeat;		
}  

body {
	background-color: gray;
	margin:0;
	padding: 0;
}
*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}
#box {
	background-color: blue;
	padding: 10px 10px 10px 10px;
	border: 3px solid black;
	margin: 40px;
	width: 200px;
	height: 100px;
	overflow: auto;

}
#content{
	background-color: rgb(214, 45, 214);
	margin: 0;
	border: 3px solid rgb(94, 25, 25);

}
h1 {
	margin-bottom: 30px;
}