

		h2 {
			color: green;
			font-size: 70px ;
			text-align: center;
		   }
		.sakib{
			color:blue;
			text-align: center;
			font-size: 45px;			
		}
		#santooh{
			color: hotpink;
	    	text-align: center;
			font-size: 20px;
		}

	     article .doom{
			color: deepskyblue;
			background-color: lightsalmon ;
			font-size: 30px;
		}

		article > p1{
			color: green;
			font-style: italic;

		}


		ul a:link,a:visited{
			text-decoration: : none;
			background-color: lightpink;
			border: 10px solid darkseagreen;

			color: black;
			display: block;
			width: 200px;
			text-align: center;
			margin: 15px;
		}
		ul a:hover,a:active {

			text-decoration: : none;
			background-color: indianred;
			border: 10px solid darkgoldenrod;

			color: black;
			display: block;
			width: 200px;
			text-align: center;
			margin: 15px;

		}
		
		header li:nth-child(odd){
			font-size: 20px;
		}

	   section > div:nth-child(3):hover {
			background-color: lightsalmon;
			display: block;
			width: 200px;
		}
		
		

		section a:hover,div:nth-child(6):hover{
			background-color: darkseagreen;
			display: block;
			width: 200px;
		}


		.style {
			font-family: Arial, Helvetiva,sans-serif;
			color: #aaffb9;

			font-style: italic	;
			font-weight: 900;
			font-size: 24px;
			text-transform: uppercase;
			text-align: right;
		}

		p {
			font-size: 120%;
		}